@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
  --main-font-color: #000000;
  --nav-font-color: #1560BD;
  --hover-effect-color: #3e7cc7;
  --light-font-color: #edf9fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--light-font-color)
}

/* Utilities */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-divider {
  display: flex;
  justify-content: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  color: var(--nav-font-color);
}

.nav-logo {
  height: 7rem;
  widtH: auto;
}

.navbar ul li {
  display: inline-block;
  padding: 0 1rem;
  list-style: none;
  text-transform: uppercase;
  transition: transform 0.4s;
}

.navbar ul li:hover {
  transform: scale(110%);
  cursor: pointer;
}

.navbar ul li ion-icon { transition: transform 0.4s; }

.navbar ul li ion-icon:hover { transform: scale(130%); }

/* Hero */
.hero { height: 100vh; }

.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.hero-content div { margin: 0 1rem; }

.left-header p { font-size: 1.6rem; }

.right-header {
  background-color: var(--nav-font-color);
  clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
}

.right-header img {
  height: 50rem;
  width: auto;
  border-radius: 50%;
}

.hero-title,
.hero-subtitle {
  color: var(--main-font-color);
}

.hero-title { font-size: 4rem; }

/* 'Level Up' highlighting */
.hero-title span { color: var(--nav-font-color); }

.hero-subtitle { 
  font-size: 2rem;
  font-weight: 300;
}

.hero-button {
  cursor: pointer;
  background-color: var(--nav-font-color);
  color: var(--light-font-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.3rem;
  border: none;
  border-radius: 10rem;
  transition: background-color 0.4s;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.hero-button:hover { background-color: var(--hover-effect-color); }

/* Footer */
footer {
  font-size: 1.4rem;
  text-align: center;
}