@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
  --main-font-color: #000000;
  --nav-font-color: #1560BD;
  --hover-effect-color: #3e7cc7;
  --light-bg-color: #edf9fc;
  --dark-bg-color: #e1edf5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  background-color: var(--light-bg-color)
}

/* Utilities */
h2 { 
  font-size: 2rem;
  font-weight: 700;
}

a { text-decoration: none; }

a:visited { color: inherit; }

.flex-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.flex-container-center-all {
  display: flex;
  max-width: 75%;
  justify-content: space-between;
  align-items: center;
}

.flex-container-space-around h3 {
  text-align: center;
  max-width: 40%;
  }

.flex-container-space-around {
  display: flex;
  margin: 6rem 5rem;
  /* max-width: 75%; */
  justify-content: space-around;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.section-headline {
  font-size: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
}

.section-divider-top {
  max-width: 100vw;
  height: 4vh;
  clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),calc(50% + 50.00px) calc(100% - 50px),50% 100%,calc(50% - 50.00px) calc(100% - 50px),0 calc(100% - 50px));
  background-color: var(--nav-font-color);
}

.section-divider-bottom {
  max-width: 100vw;
  height: 2vh;
  clip-path: polygon(0 0,calc(50% - 4.14px - 50.00px) 0,50% calc(50px + 4.14px),calc(50% + 4.14px + 50.00px) 0,100% 0,100% 100%,0 100%);
  background-color: var(--hover-effect-color);
  margin-top: -40px;
}

.icon {
  /* display: inline; */
  color: var(--nav-font-color);
  font-size: 64px;
  text-align: center;
}

.center-icon { text-align: center; }

.blue-bold {
  color: var(--nav-font-color);
  font-weight: 700;
}

input,
input:focus,
textarea,
textarea:focus {
  outline: none;
  border-color: var(--nav-font-color);
}

p { line-height: 150%; }

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  color: var(--light-bg-color);
}

.nav-logo {
  height: 7rem;
  widtH: auto;
}

.navbar ul li {
  display: inline-block;
  padding: 0 1rem;
  list-style: none;
  text-transform: uppercase;
  transition: transform 0.4s;
}

.navbar ul li:hover {
  transform: scale(110%);
  cursor: pointer;
}

.navbar ul li ion-icon { transition: transform 0.4s; }

.navbar ul li ion-icon:hover { transform: scale(130%); }

/* Hero */
.hero {
  height: 100vh;
  /* background: url('../assets/images/hero-background.svg') center no-repeat cover; */
  background-image: url('../assets/images/hero-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.hero-content div { margin: 0 1rem; }

.left-header p { font-size: 1.6rem; }

.right-header {
  background-color: transparent;
  clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
}

.right-header img {
  height: 50rem;
  width: auto;
  border-radius: 50%;
}

.hero-title,
.hero-subtitle {
  color: var(--main-font-color);
}

.hero-title { font-size: 4rem; }

/* 'Level Up' highlighting */
.hero-title span { color: var(--nav-font-color); }

.btn {
  cursor: pointer;
  background-color: var(--nav-font-color);
  color: var(--light-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.3rem;
  border: none;
  border-radius: 10rem;
  transition: background-color 0.4s;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 30px var(--hover-effect-color);
          box-shadow: 0 10px 30px var(--hover-effect-color);
}

.btn:hover { background-color: var(--hover-effect-color); }

/* How I'll Grow Your Business */
.how {
  background-color: var(--dark-bg-color);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.how h2,
.how h3,
.contact h2,
.contact h3,
.projects h2 {
  text-align: center;
}

.how-item {
  max-width: 30rem;
  margin-right: 3.5rem;
}

.how-item:last-child { margin-right: 0; }

.how-item .icon { margin-top: 7rem; }

.how-item h3 { margin-top: 1.5rem; }

.how-item p {
  text-align: center;
  margin-top: 3rem;
}

/* Projects */
.projects {
  background-color: var(--light-bg-color);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  text-align: center;
}

.project p {
  font-weight: 700;
}

.project-container {
  max-width: 100vw;
  margin: 0 auto;
}

.project img {
  display: inline;
  width: 70%;
  height: auto;
}

/* Contact Me */
form {
  margin-top: 3rem;
  padding-top: 3rem;
  max-width: 70vw;
  border: 1px solid red;
  margin-inline: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.3rem;
  border: none;
  border-radius: 10rem;
  transition: background-color 0.4s;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 30px var(--hover-effect-color);
          box-shadow: 0 10px 30px var(--hover-effect-color);
}

.contact {
  background-color: var(--dark-bg-color);
}

label {
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding-right: 1rem;
  text-align: center;
}

input {
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  width: 50rem;
}

.message {
  resize: none;
  height: 30rem;
  width: 85rem;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

/* Footer */
footer {
  font-size: 1.4rem;
  text-align: center;
}